[Desktop Entry]
Type=Application
Name=Neko Void Updater
GenericName=System Update Utility
GenericName[es]=Actualizador de Void Linux
Comment=Desktop-agnostic system update tray
Comment[es]=Tray de actualizaciones agnóstico de entorno de escritorio
Exec=/usr/bin/neko-updater-tray
Icon=neko-updater
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
