[Desktop Entry]
Type=Application
Name=Neko Void Updater
GenericName=Gestor de Actualizaciones
Comment=Sistema de actualización y mantenimiento para Void Linux
Exec=neko-updater-tray
Icon=neko-updater
Terminal=false
Categories=System;Utility;Settings;
StartupNotify=false
